.intro{
  background-color: #ff4c68;
}

.intro .row{
  text-align: center;
}

.intro p{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

.intro .row{
  padding-top: 5%;
}

.intro .navbar-brand{
  font-family: 'Simonetta', cursive;
  font-size: 2rem;
}

.intro .nav-item{
  font-family: 'Montserrat', sans-serif;
  font-size:1.2rem;
  padding: 0 18px;
}

.container-fluid{
  padding: 3% 12%;
}


.feature-box{
  padding: 6% 18%;
}

.features{
  text-align: center;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.8vw;

}
h6{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}

.icon{
  color:  #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff4c68;
}

.joinus{
  background-color: #ef8172;
  line-height: 9;
  font-family: 'Montserrat', sans-serif;
}

.joinus-box{
  padding: 9% 15%;
  text-align: center;
}

.carousel-item{
  color: white;
}

.carousel-item h1{
  margin-bottom: 1rem;
}

.feedback-box{
  padding: 9% 5%;
}

.col-lg-4 {
  font-size: 1.5vw;
}

.contactus-box{
  background-color: #222831;
  padding: 7% 5%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.contactus h1{
  color: white;

}

.footer{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.footer a{
  color:#222831;
  font-weight: bold
}
